.image-input-container {
  height: 180pt;
  width: 180pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
  border: 2px dashed rgba(139, 68, 17, 0.8);
  border-radius: 8px;
}

.image-input-label {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #8b4411;
}

.image-input {
  display: none;
}

.image-preview {
  width: 150px;
  font-size: 15px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #f9f9f9;
  overflow: hidden;
  cursor: pointer;
}
.image-preview label {
  cursor: pointer;
}
.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-preview:hover {
  border-color: #888;
}
